{% extends 'base.html' %}
    {% block content %}
        {% for post in object_list %}
        <div class="card text-center" style="width: 50rem;margin: auto;margin-bottom: 10px;">
            <div class="post-entry">
                
                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                
                <p>{{ post.body }}</p>
            </div>           
        </div>
        
        {% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        
{% endblock content %}